.imgborder {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
}

.btn-invite {
    transition: all 0.5s ease;
    border-radius: 1px;
	border-color: #b05dec;
}

.circular {
	width: 256px;
	height: 256px;
	border-radius: 256px;
	-webkit-border-radius: 256px;
	-moz-border-radius: 256px;
	background: url("../images/tatsuavatar.png") no-repeat;
	margin: 10px;
    border:4px solid #b05dec;
	background-position: center;
	box-shadow: 0 0 8px rgba(37,196,129, .8);
	-webkit-box-shadow: 0 0 8px rgba(37,196,129, .8);
	-moz-box-shadow: 0 0 8px rgba(37,196,129, .8);
    margin: 0 auto;
    float: right;
	}

.circulardev {
	width: 64px;
	height: 64px;
	border-radius: 64px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	background: url("https://discordapp.com/api/users/119097537570406401/avatars/53fe0a6cdead6ba32136027d3224855e.jpg") no-repeat;
    background-size: 64px 64px;
	margin: 10px;
    border:2px solid #4c4c4c;
	background-position: center;
    margin: auto;

	}

  .circulardev:hover {
     border-color: #b05dec;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }

.circularfalzar {
    background: url("../images/avatars/falzar.jpg") no-repeat;
    background-size: 64px 64px;
    background-position: center;
}

.circulardavid {
	background: url("../images/avatars/david.jpg") no-repeat;
    background-size: 64px 64px;
    background-position: center;
	}

.circularbrussell {
	background: url("../images/avatars/brussell.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularrei {
	background: url("../images/avatars/rei.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularpisang {
	background: url("../images/avatars/pisang.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularpyraxo {
	background: url("../images/avatars/pyraxo.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularalex {
	background: url("../images/avatars/alex.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularvape {
	background: url("../images/avatars/vape.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularstevy {
	background: url("../images/avatars/stevy.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularfewshin {
	background: url("../images/avatars/fewshin.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularlion {
	background: url("../images/avatars/lion.jpg") no-repeat;
    background-size: 64px 64px;
	background-position: center;
	}

.circularcookie {
    background: url("../images/avatars/cookie.jpg") no-repeat;
    background-size: 64px 64px;
  	background-position: center;
}

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #4c4c4c;
  background: -webkit-linear-gradient(left, #ffffff, #f2f2f2);
  background: linear-gradient(to right, #ffffff, #f2f2f2);
  height: 100%
}

.navbar-inverse {
    background: linear-gradient(to right, #ffffff, #f2f2f2);
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 60px;
}

.navbar-inverse .navbar-brand {
    font-size: 21px;
    color: #b05dec;
}

.navbar-inverse .navbar-brand:hover {
    color: #b05dec;
}

.navbar-inverse .navbar-nav > li > a {
  color: #4c4c4c;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #4c4c4c;
  background-color: #b05dec;
  border-radius: 1px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.cmdhr {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ededed;
  border-top: 1px solid #ededed;
}

.content-titlehr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.maincontenthr {
    margin-bottom: 3%;
    margin-top: -1%;
}

p {
    margin: 0px;
    font-size: 16px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42px;
}

.helptext {
    padding-top: 16px;
    font-size: 16px;
}

.tatsutext {
    padding-bottom: 26px;
    font-size: 16px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
}

h4 {
  font-size: 22px;
    color: #b05dec;
}

td:nth-child(1){
     font-weight: bold;
}

.settings h4 {
    color: #4c4c4c;
}

ul.nav li a, ul.nav li a:visited {
    color: #4c4c4c !important;
}

.navbar-header a:visited {
    color: #b05dec !important;
}

td:first-child { width: 30% ;}
td:first-child { width: 30% ;}
td:nth-child(3) { width: 30% ;}
td:nth-child(4) { width: 10% ;}

.dev td:first-child { width: 25% ; font-weight: normal;}
.dev td:nth-child(2) { width: 25% ;}
.dev td:nth-child(3) { width: 25% ;}
.dev td:nth-child(4) { width: 25% ;}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: rgba(76,76,76,0.65);
    border-color: transparent;
}

.back-to-top:hover {
  background-color: rgba(76,76,76,0.85);
  border-color: transparent;
}

.back-to-top:active:focus {
  background-color: rgba(76,76,76,0.65);
  border-color: transparent;
}

.back-to-top:active {
  background-color: rgba(76,76,76,0.65);
  border-color: transparent;
}

.back-to-top:visited {
  background-color: rgba(76,76,76,0.65);
  border-color: transparent;
}

.tatsu-btn{
	margin-top: 10px;
    border-top: 1px solid #ccc;
}

.navbar{
	margin-bottom:0px;
	border-width: 0px;
}
.navbar-inverse .navbar-collapse{
	border-color:#ccc;
}

.navbar-inverse .navbar-toggle {
	border-color: #ccc;
}
.navbar-toggle{
    background-color: rgba(200,200,200,0.9);
}

@media (max-width: 768px) {
	.navbar-collapse.collapsing,
	.navbar-collapse.in {
		position: absolute;
		width: 100%;
		background-color: rgba(240,240,240,0.95);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: rgb(204, 204, 204);
	}
	.navbar-nav .open .dropdown-menu > li > a:hover{
		text-decoration:underline;
	}
}

/*For the command documentation page*/

.side{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  padding:0;
  background-color: #4c4c4c;
}

.scroll-area{
  width:100%;
  height:100%;
  float:left;
  overflow-y:scroll;
  list-style: none;
}

.right-side {
  float: right;
}

ul#contents a:link    {color:white; background-color:transparent; text-decoration:none}
ul#contents a:visited {color:white; background-color:transparent; text-decoration:none}
ul#contents a:hover   {color:#99AAB5; background-color:transparent; text-decoration:none}
ul#contents a:active  {color:#99AAB5; background-color:transparent; text-decoration:none}
a.invisible:link      {color:inherit; background-color:transparent; text-decoration:none; opacity:0}
a.invisible:visited   {color:inherit; background-color:transparent; text-decoration:none; opacity:0}

table.codeblock{
    border-collapse:collapse;
    border: 3px black;
    border-radius: 3px;
    width: 95%;
}
table.codeblock td{
    border: none;
    padding-left: 5px;
}
.codeblock {
    font-family: consolas;
    color: white;
    font-size: 14px;
    background-color: #4c4c4c;
    padding: 3px 3px 3px 3px;
}

.examplepad {
  padding-left: 80px;
}

.command {
    padding-bottom: 20px;
}

.collapsing {
  transition: height 0.6s;
}

.cmdbadge {
  font-family: sans-serif;
  background-color: #b05dec;
}

.cmdbadgensfw {
  font-family: sans-serif;
  background-color: #FF5F67;
}

.perms {
  font-size: 10px;
  font-weight: bold;
  background-color: #b05dec;
}

a:link, a:visited {
    text-decoration: none;
}
